body {
    background-image: url("/static/background.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
#text {
    font-size:30px;
    padding:5px;
    border-radius:20px;
}
h1 {
    text-align:center;
    font-size: 100px;
    color:white;

}
.task{
    width: 20px;
    height: 20px;
}
label {
    font-size:40px;
    color:white;
}
button  {
    padding:10px;
    font-size:20px;
    border-radius:40px;
    background-color: white;
    color:

}
#submit_btn {
    padding:10px;
    font-size:20px;
    border-radius:15px;
}
